.order {
  width: 100%;
  padding: 0 30px;
}
.order h1 {
  text-align: center;
}
.productTable {
  width: 100%;
  border-top: 1px solid #bfbfbf;
}
.orderProduct {
}
.orderProduct td {
  padding: 0 15px;
  border-bottom: 1px solid #bfbfbf;
}
thead td {
  padding: 10px 15px;
  border-bottom: 1px solid #bfbfbf;
}
.orderProductPhoto {
  margin-right: 20px;
}
.orderProductPhoto img {
  width: 100px;
}
.orderProductName {
  position: relative;
  padding: 0 15px;
  text-align: left;
  font-size: 13px;
}
.orderProductName > a {
  text-decoration: none;
  color: #000;
}
.orderProductName a:hover {
  color: #ff7238;
}
.addToWishListButtonWrapper {
  position: absolute;
  bottom: 0;
}
.orderProductQuantity {
}
.orderProductQuantity input {
  width: 60px;
}
.orderProductPrice {
  color: #b84d4d;
}
.orderProductTotalCost {
  color: #b84d4d;
}
.orderDeleteProduct button {
  height: 25px;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid #000;
  border-radius: 3px;
}
.orderDeleteProduct button:hover {
  color: #fff;
  background: #000;
}
.emptyCart {
  padding: 30px 0;
}
