.profile {
  margin: 30px;
  text-align: left;
}
.profileTabs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #000;
}
.profileTabs li {
  height: 27px;
  position: relative;
  bottom: -1px;
  text-align: center;
  border: 1px solid transparent;
  border-bottom: none;
  border-radius: 8px 8px 0 0;
}
.profileTabs li a {
  padding: 0 15px 5px;
}
.profileTabs li[aria-selected="true"] {
  border: 1px solid #000;
  border-bottom: 1px solid #fff;
}
.profileTabs li:hover {
  cursor: pointer;
}
.profileTabs li:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}
.profileTabs li:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -5px;
  background: #fff;
}
.profileBody {
  border: 1px solid #000;
  border-top: none;
}
.profileBody h5 {
  margin: 0 0 30px 0;
}
.tabLink {
  text-decoration: none;
  color: #000;
}
