.productPage {
}
.title {
  display: block;
  margin: 0;
  padding: 0 15px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  text-decoration: none;
  color: #000;
  background: #f3c59f;
  border-radius: 8px 8px 0 0;
}
.contentBlock {
  display: flex;
  align-items: flex-end;
  text-align: left;
}
.productInfo {
  padding: 15px 15px 15px 30px;
}
.productInfo ul {
  margin-bottom: 5px;
  padding: 0;
  font-size: 16px;
  line-height: 2;
  list-style: none;
}
.warranty {
}
.warrantyReturn {
}
.viewRest span,
.addToCompare span,
.addToWishList span {
  border-bottom: 1px dashed;
  padding-bottom: 2px;
  cursor: pointer;
}
.notify {
}
.viewRest:hover,
.addToCompare:hover {
  color: #ff7238;
}
.price {
  padding-bottom: 5px;
  color: #c20000;
  font-size: 22px;
}
.sku {
  display: block;
  margin-top: 40px;
  line-height: 2;
}
.productBlock {
}
.tabs {
  display: flex;
  padding: 0;
  list-style: none;
}
.tabs li {
  margin-top: 2px;
  margin-right: 3px;
  border-radius: 8px 8px 0 0;
}
.tabs li a {
  display: block;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  background: #f3c59f;
  color: #000;
  border-radius: 8px 8px 0 0;
}
.tabs li a:hover {
  background: #f78529;
  color: #fff;
}

.reviewsBlock {
  padding: 0 15px;
  text-align: left;
}
.reviewsBlock h2 {
  font-size: 15px;
}
.writeReview {
  margin-bottom: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
.writeReview:hover {
  color: #fff;
  background: #000;
  border: 2px solid #000;
  border-radius: 3px;
}
.reviews {
  margin-top: 15px;
}
.noReviews {
  font-size: 13px;
  padding: 0 15px 8px;
}
.review {
  font-size: 15px;
}
.review header {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  border-bottom: 1px solid #ff8383;
}
.reviewName {
}
.reviewInfo {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  background-color: #fff5cc;
}
.reviewPurchase {
  color: #f59b21;
}
.reviewRating {
}
.reviewRating .stars {
}
.reviewText {
  padding: 15px 30px;
}
.reviewText div {
  margin-bottom: 15px;
}
.reviewText pre {
  margin-top: 0;
  white-space: pre-wrap;
}
.reviewAdvantages {
}
.reviewDisadvantages {
}
.reviewComment {
}
.answer {
  margin-left: 30px;
}
.answer header {
  background-color: #ffe2a1;
}
