.productCard {
  width: 300px;
  padding: 15px;
  text-align: left;
}
.productPhotoLink {
  display: flex;
  position: relative;
  height: 233px;
}
.productPhoto {
  width: 100%;
  margin-bottom: 30px;
}
.productName {
  text-decoration: none;
  color: #000;
}
.productName:hover {
  color: #ff7238;
}
.productDesc {
  margin-top: 20px;
  font-size: 14px;
}
.new, .hit {
  position: absolute;
  width: 20px;
  height: 20px;
}
.new {
  bottom: 4px;
  left: 25px;
}
.hit {
  bottom: 4px;
  left: 0;
}
