.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 231px;
  height: 70px;
  background: #f7b485;
  border-radius: 4px;
}
.cartText,
.emptyCart {
  margin: 0;
  color: #b84d4d;
}
.cartContent {
  margin: 0;
  color: #fff;
}
.totalCost {
  margin: 0;
  color: #119b59;
}
