.search {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 16px;
  height: 70px;
  background: #1976d2;
  border-radius: 4px;
  margin: 0 16px 0;
}
.search input {
  width: 100%;
}
.search button {
  cursor: pointer;
}
