.productInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.productInfoLeftColumn {
}
.productInfoRightColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productInfoColumn ul {
  margin-bottom: 5px;
  padding: 0;
  font-size: 14px;
  line-height: 1.5;
  list-style: none;
}
.productPrice {
  font-size: 22px;
  margin-top: 5px;
}
.warranty {
}
.viewRest span,
.addToCompare span,
.addToWishList span {
  border-bottom: 1px dashed;
  padding-bottom: 1px;
  cursor: pointer;
}
.viewRest:hover,
.addToCompare:hover,
.addToWishList:hover {
  color: #ff7238;
}
.addToWishList {
  font-size: 13px;
}
.notify,
.reviews {
}
.reviews a {
  color: #000;
}
.reviews a:hover {
  color:  #ff7238;
}
.sku {
  display: inline-block;
  font-size: 13px;
  color: darkgray;
}
.addToCompare {
  margin-top: 5px;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}
.status {
  text-align: center;
  font-size: 13px;
}