.registrationForm {
  position: absolute;
  padding: 15px;
  border: 1px solid #000;
  border-radius: 8px;
  background: #fff;
  text-align: left;
  font-size: 14px;
}
.registrationForm h5 {
  margin: 0 0 10px 0;
  font-size: 14px;
  text-align: center;
}
.registrationForm span {
  margin-bottom: 5px;
  display: inline-block;
}
.registrationForm input {
  margin-bottom: 5px;
  font-size: 14px;
}
.registrationForm button {
  cursor: pointer;
  margin-top: 5px;
  font-size: 14px;
}
