.loginBlock {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
.loginBlockButton {
  height: 25px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid #000;
  border-radius: 3px;
}
.loginBlockButton:hover {
  color: #fff;
  background: #000;
}
.loginBlockButton:focus {
  outline: none;
  border: 1px solid #fff;
}
.loginBlockProfileLink {
  text-decoration: none;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
  padding: 2px 5px;
  color: #000;
  background: #fff;
  border: 1px solid #000;
  border-radius: 3px;
}
.loginBlockProfileLink:hover {
  color: #fff;
  background: #000;
  border: 1px solid #000;
}
.loginBlockProfileLink:focus {
  border: 1px solid #fff;
}
.registrationMessageBlock {
  width: 100%;
  position: absolute;
  top: 37px;
  padding: 25px;
  border: 1px solid #000;
  border-radius: 8px;
  background: #fff;
  text-align: left;
  font-size: 14px;
  color: #09b209;
  z-index: 1000;
}
.registrationMessageBlock button {
  width: 100%;
  margin-top: 15px;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 3px;
}
.registrationMessageBlock button:hover {
  color: #fff;
  background: #000;
}
.displayName {
  margin-top: 3px;
  font-size: 13px;
}
.tooltip {
  position: absolute;
  width: 250px;
  background: #fff;
  padding: 15px;
  border: 2px solid #0075ff;
  border-radius: 5px;
  text-align: left;
  z-index: 1001;
}