.wishListItem {
  min-height: 155px;
  margin-bottom: 15px;
}
.wishListItem td {
  padding: 10px 15px 15px;
  border-bottom: 1px solid #bfbfbf;
}
.photoBlock {
  position: relative;
  width: 100px;
  height: 104px;
}
.new,
.hit {
  position: absolute;
  width: 20px;
  height: 20px;
}
.new {
  bottom: -10px;
  left: 25px;
}
.hit {
  bottom: -10px;
  left: 0;
}

.descBlock {
  width: 100%;
  font-size: 14px;
}
.descBlock p {
  margin: 10px 0;
}
.descBlock a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}
.desc {
  margin: 10px 0;
  font-size: 14px;
}
.viewRest {
  display: inline-block;
  margin-right: 10px;
}
.addToCompare,
.viewRest span {
  border-bottom: 1px dashed;
  padding-bottom: 1px;
  cursor: pointer;
}
.viewRest:hover,
.addToCompare:hover,
.notify:hover {
  color: #ff7238;
}
.warranty,
.notify,
.reviews {
  margin-right: 10px;
  border-bottom: 1px solid;
  padding-bottom: 1px;
  cursor: pointer;
}
.sku {
  margin-right: 10px;
  color: darkgray;
}

.priceBlock {
  text-align: center;
}
.price {
  margin: 0 0 10px;
}
.status {
  font-size: 12px;
}
.wishListItem a:hover {
  color: #ff7238;
}
