.textarea {
  border: 1px solid red !important;
  border-radius: 4px;
}
.textareaMessage {
  position: absolute;
  bottom: 25px;
  right: 50px;
  color: red;
  font-size: 12px !important;
}
.inputMessage {
  font-size: 13px;
  color: red;
  margin: 0;
}
.input {
  position: relative;
  border: 2px solid red !important;
  border-radius: 4px;
}
.inputProfile {
  border: 1px solid red !important;
}
