.textarea fieldset {
  border: 1px solid red;
  border-radius: 4px;
}
/*.textarea:hover fieldset {*/
/*  border: 1px solid red;*/
/*}*/
/*.textarea .Mui-focused fieldset {*/
/*  border: 2px solid red !important;*/
/*}*/
.textareaMessage {
  position: absolute;
  bottom: 25px;
  right: 50px;
  color: red;
  font-size: 12px !important;
}
.inputMessage {
  font-size: 13px;
  color: red;
  margin: 0;
}
.input {
  position: relative;
  border: 2px solid red !important;
  border-radius: 4px;
}
.inputProfile {
  border: 1px solid red !important;
}
